@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap')

.header
    color: white
    background-color: #000
    display: flex
    flex-direction: row
    justify-content: space-evenly

    h1
        font-size: 60px
        font-weight: 100
        font-family: 'Luxurious Script', cursive
