@-webkit-keyframes pulse 
  0% 
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.75)
  
  75% 
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0.5)
  
  100% 
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0)
  

@keyframes pulse 
  0% 
    -moz-box-shadow: 0 0 0 0 rgba(25, 15, 136, 0.75)
    box-shadow: 0 0 2.5px 1px rgba(255, 255, 255, 1)
  
  75% 
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44,0.5)
      box-shadow: 0 0 5px 5px var(--uniq-text)
  
  100% 
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0)
      box-shadow: 0 0 0 2.5px rgba(62, 0, 247, 0.75)
  


.header
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-evenly
    background-color: var(--black)
    color: var(--white)
    .section
        display: flex
        gap: 40px
        a
            font-size: 32px
            color: var(--white)
            text-align: center
            font-style: normal
            font-weight: 400
            line-height: normal
            text-decoration-line: underline
    .search
        border-radius: 50px
        border: none
        box-shadow: 0 0 0 var(--uniq-text)
        animation: pulse 3s infinite