.signUpForm
  height: auto
  max-height: 100%
  width: 100%

  .buttons
    display: flex
    flex-direction: column
    align-items: center
    gap: 25px

    input
      color: var(--black) !important

    button
      margin-top: 20px
      width: 150px
      border: none
      background: var(--uniq-text) !important
