.cardName
    margin-top: 15px
    font-size: 32px
    text-transform: uppercase

.itemsCard
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    align-items: center
    gap: 25px

    .item
        border-radius: 20px
        width: 300px
        height: 300px
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        background: var(--item-card-background-gradient)


.pagination
    margin-bottom: 25px 
    *
        border: none !important
        color: var(--second-text) !important
        background: white !important
        border-radius: 25px
