@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&family=Montserrat+Alternates&family=Roboto&display=swap')
:root
  --max-width: 1100px
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace
  // FONTS 
  --luxurious-font: 'Luxurious Script', cursive
  --montserrat-font: 'Montserrat Alternates', sans-serif
  // COLORS
  --white: #fff
  --uniq-text: #6A040F
  --secound-text: #333
  --black: #000
  --main-card-back: #fff
  --card-title-background: rgba(117,117,117,0.2 )
  // BACKGROUND GRADIENT
  --item-card-background-gradient: linear-gradient(134deg, rgba(221, 214, 243, 0.50) 0%, rgba(250, 172, 168, 0.50) 100%)

*
  padding: 0
  margin: 0

html, body
  height: 100% !important
  width: 100% !important
  overflow-x: hidden

body
  color: var(--white)
  background: var(--black)
  header, footer
    height: 7.5% !important

  main
    flex: 1
    height: 90%
    font-family: var(--montserrat-font)

.text_logo
  font-size: 60px
  font-weight: 100
  color: var(--uniq-text)
  font-family: var(--luxurious-font)

