.profileCards
    margin: 50px 0
    height: 720px
    display: flex
    flex-direction: row
    justify-content: space-evenly
    gap: 50px

    .userCard
        div
            width: 100%
            height: 100%
            display: flex
            flex-direction: column
            justify-content: flex-start
            align-items: center
            gap: 20px

        .topUserCard
            display: flex
            flex-direction: column
            align-items: center
            gap: 10px

            .avatar
                height: 250px
                width: 250px

            h1,h3
                text-align: center
                .not_set_fiends
                    color: var(--uniq-text) !important

        .bottomUserCard
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            height: 80%

            div
                &:nth-child(1)
                    p
                        max-width: 250px
                        width: 100%
                        text-align: center
                        background-color: var(--card-title-background)
                        padding: 10px
                        border-radius: 20px

                &:nth-child(2)

                    display: flex
                    flex-direction: row
                    justify-content: space-around

                    p
                        min-width: 120px
                        height: auto
                        padding: 5px 0px
                        text-align: center
                        border-radius: 20px
                        background-color: var(--card-title-background)

                        span
                            font-size: 20px
                            font-weight: bold
            p
                justify-self: flex-end

    .lastWatchedCard
        width: 70% !important
