.footer
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    background-color: var(--black)
    color: var(--white)        
    div 
        a
            margin-right: 10px
            font-size: 24px
            color: var(--white)
            *:hover
                color: var(--uniq-text)
