.footer
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    background-color: #000000
    color: #fff        
    div a
        margin-right: 2.5px